<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>AddressesWebUI</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description>This Servlet is act as a front controller for the addresses web page</description>
		<display-name>AddressesDemoServlet</display-name>
		<servlet-name>AddressesDemoServlet</servlet-name>
		<servlet-class>org.bakesale.addresses.servlet.AddressesServletNew</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddressesDemoServlet</servlet-name>
		<url-pattern>/AddressesDemoServlet/*</url-pattern>
	</servlet-mapping>
</web-app>